snail-data/terraform/reference/sfn/definitions/snail-bedrock-dev-document-processing.asl.json
{
  "Comment": "Workflow para procesar documentos y generar embeddings",
  "StartAt": "ProcessDocument",
  "States": {
    "ProcessDocument": {
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "ProcessingFailed",
          "ResultPath": "$.error"
        }
      ],
      "Comment": "Procesa el PDF y genera embeddings con ChromaDB",
      "Next": "ProcessingSucceeded",
      "Parameters": {
        "bucket.$": "$.bucket",
        "key.$": "$.key"
      },
      "Resource": "arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:471112687668:function:snail-bedrock-dev-pdf-processor/invocations",
      "Retry": [
        {
          "BackoffRate": 2,
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3
        }
      ],
      "Type": "Task"
    },
    "ProcessingFailed": {
      "Cause": "Error al procesar el documento con Lambda",
      "Comment": "Fallo en el procesamiento del documento",
      "Error": "ProcessingError",
      "Type": "Fail"
    },
    "ProcessingSucceeded": {
      "Comment": "Documento procesado exitosamente",
      "Type": "Succeed"
    }
  }
}
